!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/inicio/index.html">
          <img src="https://eastus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fedutecno-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!NRv45X5Kska-0LY3qDQvUoniQwg7qWhIjsY4mCKStHPn28XvkqHLRrWxXKMDO8q3%2Fitems%2F01Y43GSTXWFNHRR52SP5FITQA5F56FABDZ%3Fversion%3DPublished&cTag=%22c%3A%7B184F2BF6-52F7-4A7F-89C0-1D2F7C500479%7D%2C1%22&encodeFailures=1&width=358&height=458&srcWidth=358&srcHeight=458" width="40" height="40" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/building/index">Edificios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apartment/index">Departamentos</a>
          </li>
          </div>
        </ul>
      </div>
  </nav>
  <div class="container">
      <h1 class="jumbotron text-center bg-dark text-light">Ingresar Departamentos</h1>
      <form method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">          
          <label for="numero_dep">NUMERO</label>
          <input class="form-control" id="numero_dep" placeholder="Ingrese un Numero" name="numero_dep" type="text" required>
        </div>
        <div class="form-group">    
          <label for="numero_dep">EDIFICIO</label>
          <select name="building_id" class="custom-select" required>
              <% @buildings.each do |building| %>
                  <option></option>
                  <option value="<%= building.id %>"> <%= building.nombre %> </option> 
              <% end %>
          </select>
        </div>  
        <div class="form-group row">  
          <input class="form-control col-6 ml-3 bg-light text-primary" type="submit" value= "Enviar">
        </div>  
      </form>        
  </div>
  <footer class="bg-light m-5 text-center">
    <p class="m-3"><button type="button" class="btn btn-secondary btn-sm">Desea Ingresar un nuevo edificio</button></p>
    <a class="btn btn-primary btn-lg m-3" href="/building/new" role="button">Nuevo Edificio</a> 
  </footer>  
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>
